md-card {
    margin: 0 auto;
    min-height: 80px;
}

h4 {
    font-weight: 700;
}

.itemRemove {
    color: red;
    border-top-right-radius: 97px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
    /*border-top-right-radius: 21px;*/
    font-size: 25px;
    /*border-bottom-left-radius: 48px;*/
}

.details-link {
  margin-bottom: 20px;
}

.itemRemove i {
    position: relative;
    top: -1px;
    left: 2px;
}

.card-movies {
   font-weight: 700;
   color: #333;
}

span {
    color: #a50200;
}

.card-img-top {
   height: 350px;
   width: 300px;
   border-top-left-radius: 20px!important;
   border-top-right-radius: 20px!important;
   width: 100%;

}

a {
  text-decoration: none !important;
}

.card-text {
    text-align: left;  
    color: #9a9393;
    word-break: break-word;  
}

.card-date {
    font-size: 25px;
    text-align: left;
    text-indent: 25px;
}

img {
    width: 55px;
    height: 60px;
    margin-top: -2px;
    float: left;
    border-radius: 0;
}