.card-group {
  text-align: center;
}

h3 {
    font-family: 'Lobster';
    font-size: 44px;
    color: #a50200;
    margin: 0px;
    margin-bottom: 20px;
}

.card-title {
    font-family: 'Lobster';
    font-size: 35px;
    color: purple;
    margin: 0px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 700;
}

.card {
    width: 100%;
    display: inline-block;
    font-weight: 700;
    border: 0px;
}

.itemRemove {
    color:#c192ca;
    border-top-right-radius: 97;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
    border-top-right-radius: 21px;
    font-size: 25px;
    border-bottom-left-radius: 48px;
    cursor: pointer;
}

.details-link {
  margin-bottom: 20px;
}

.itemRemove i {
    position: relative;
    top: -1px;
    left: 2px;
}

.card-movies {
   font-weight: 700;
   color: #333;
}

span {
    color: purple;
    font-size: 20px;
}

.card-img-top {
   height: 350px;
   width: 300px;
   border-top-left-radius: 20px!important;
   border-top-right-radius: 20px!important;
   width: 100%;
}

a {
  text-decoration: none !important;
}

.card-text {
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
