body {
  text-align: center;
}

.oneItem {
  width: 100%;
  margin-top: 50px;
}

.disabled:after {
  position: absolute;
  content: 'Editing';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
  font-family: Indian Script;
  color: #a50200;
  font-size: 60px;
  line-height: 8;
}

.oneItem, .disabled:after {
  border-radius: 20px;
}

@media only screen and (max-width: 1670px) {
  .wrapper{
    width: 35%;
  }
  .oneItem{
    width: 100%;
    margin-left:0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1070px) {
  .wrapper{
    width:50%;
  }
}

@media only screen and (max-width: 753px) {
  .wrapper{
    width:60%;
  }
}
