<div *ngIf="article">
	<div class="card-group">
		<div class="card">
			<h1 class="name">{{article.title}}'s details!</h1>

			<div class="item">
				<img class="card-img-top" [src]="article.picture" alt="img">

				<div class="card-block">
					<h3>{{ article.title }}</h3>
					 <h4>Author: {{ article.author.firstName }} {{ article.author.lastName }}</h4> 
					<h4 class="actorYears">{{article.dateOfCreation | date}} </h4>
					<p class="card-text">{{article.description}}</p> 
				</div>
			</div>
			<comments-controller [comments]="article.comments" [arId]="article.id"></comments-controller>				
			<button (click)="goToArticles()" class="btn btn-success">Back to articles</button>
		</div>
	</div>	
</div>