h3 {
    font-family: 'Lobster';
    font-size: 44px;
    color: purple;
    margin: 0px;
    margin-bottom: 20px;
}

.card-title {
     margin:0;
}

.actorYears {
    font-weight: 700;
}

.card-group {
  text-align: center;
  width: 850px;
  margin: 0 auto;
}

.card-group img {
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.card-movies {
   font-weight: 700;
   color: #333;
}

span {
    position: relative;
    top: 0;
}

.item {
  border-radius: 25px;
  display: inline-block;
  margin-top: 30px;
  box-shadow: -5px -4px 111px -15px rgba(0,0,0,0.75);
  position: relative;
  margin-bottom: 35px;
  width: 100%;
}

.name {
  font-family: 'Lobster';
  font-weight: 700;
  color: purple;
  font-size: 55px;
}

.card {
    min-height: 419px;
    width: 100%;
    display: inline-block;
}

.card-img-top {
   height: 550px;
   width: 300px;
}

.card-text {
    min-height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    text-align: left;
}

.itemRemove {
  display: none;
}

.btn-success {
  margin-top: 30px;
  background-color: purple;
  color: white;
  font-size: 23px;
  border-radius: 50px;
  padding: 15px;
  margin-bottom:30px;
  border: none;
}